<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initialscale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Domyślny tytuł</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen, projection"/>
</head>
<body>
<ul id="lang-dropdown" class="dropdown-content">
    <li><a href="?lang=pl" th:text="#{default.language.polish}">Polski</a></li>
    <li><a href="?lang=en" th:text="#{default.language.english}">Angielski</a></li>
</ul>
<nav>
    <div class="nav-wrapper indigo">
        <ul class="right">
            <li>
                <a class="dropdown-button" href="#!" data-activates="lang-dropdown" >
                    <span th:text="#{default.language}" th:remove="tag">Język</span>
                    <i class="material-icons right">language</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div sec:authorize="isAuthenticated()">
    Jesteś zalogowany jako <b sec:authentication="name" /> z rolami <span sec:authentication="authorities" />
    -
    <form th:action="@{/logout}" method="post" style="display: inline-block">
        <input type="submit" value="Wyloguj" />
    </form>
    <hr/>
</div>
<section layout:fragment="content">
    <p>Zawartość strony</p>
</section>
<script src="/webjars/jquery/3.1.1-1/jquery.js"></script>
<script src="webjars/materializecss/0.97.7/js/materialize.js"/>
<script type="text/javascript">
    $(".dropdown-button").dropdown();
</script>
<script type="text/javascript" layout:fragment="script">
</script>
</body>
</html>