<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8"/>
    <title>Witaj w Thymeleaf!</title>
</head>
<body>
    <span th:text="|Witaj w Thymeleaf|">Witaj w HTML!</span>
</body>
</html>