<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${status}">404</title>
    <link href="/webjars/materializecss/0.97.7/css/materialize.css"
          type="text/css" rel="stylesheet"
          media="screen, projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
    <div class="row">
        <h1 class="indigo-text center" th:text="${error}">Strona nie istnieje</h1>
        <p class="col s12 center" th:text="${message}">
            Żądana strona nie istnieje
        </p>
    </div>
</body>
</html>