<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title>Logowanie</title>
</head>
<body>
    <div class="section no-pad-bot" layout:fragment="content">
        <div class="container">
            <h2 class="header container orange-text center">Logowanie</h2>
            <div class="row">
                <div id="errorMessage" class="card-panel red lighten-2"
                    th:if="${param.error}">
                    <span class="card-title">Błędna nazwa użytkownika lub hasło</span>
                </div>
                <form class="col s12" action="/login" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" class="validate"/>
                            <label for="username">Nazwa</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate"/>
                            <label for="password">Hasło</label>
                        </div>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            <span th:text="#{login.submit}" th:remove="tag">Wyślij</span>
                            <i class="material-icons right waves-effect">send</i>
                        </button>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
                <form th:action="@{/signin/twitter}" method="POST" class="center">
                    <div class="row">
                        <button class="btn indigo" name="twitterSignin" type="submit">
                            <span th:text="#{login.twitter}" th:remove="tag">Logowanie przez Twitter</span>
                            <i class="material-icons left">group_add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>